Repository graphql-dotnet/parser, pull requests merged in 2020-10, with the labels that each got.

#84 Add new test
  src/GraphQLParser.Benchmarks/GraphQLParser.Benchmarks.csproj
  src/GraphQLParser.Benchmarks/LexerBenchmark.cs
  src/GraphQLParser.Benchmarks/Program.cs
  src/GraphQLParser.Benchmarks/query_with_many_escape_symbols.txt
Labels: performance

#83 String.concat optimization for STRING and COMMENT tokens
  appveyor.yml
  package.json
  src/Directory.Build.props
  src/GraphQLParser.ApiTests/GraphQLParser.ApiTests.csproj
  src/GraphQLParser.Tests/GraphQLParser.Tests.csproj
  src/GraphQLParser/GraphQLParser.csproj
  src/GraphQLParser/LexerContext.cs
Labels: enhancement, performance

#85 add xml docs in nupkg
  appveyor.yml
  package.json
  src/Directory.Build.props
Labels: documentation

#86 Stop query Normalization
  appveyor.yml
  package.json
  src/Directory.Build.props
  src/GraphQLParser.Tests/LexerTests.cs
  src/GraphQLParser.Tests/Validation/LexerValidationTests.cs
  src/GraphQLParser.Tests/Validation/ParserValidationTests.cs
  src/GraphQLParser/Source.cs
Labels: performance

#88 Repo rework
  .editorconfig
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/label.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  .github/workflows/wipcheck.yml
  appveyor.yml
  package.json
  src/Directory.Build.props
  src/GraphQLParser.ApiTests/ApiApprovalTests.cs
  src/GraphQLParser.ApiTests/GraphQLParser.ApiTests.csproj
  src/GraphQLParser.Benchmarks/GraphQLParser.Benchmarks.csproj
  src/GraphQLParser.Benchmarks/LexerBenchmark.cs
  src/GraphQLParser.Tests/GraphQLParser.Tests.csproj
  src/GraphQLParser.Tests/ParserTests.cs
  src/GraphQLParser.sln
  src/GraphQLParser/GraphQLParser.csproj
  tools/build.js
  tools/make.js
  tools/runTasks.js
  tools/tasks/Deferred.js
  tools/tasks/clean.js
  tools/tasks/compile.js
  tools/tasks/dotnetPack.js
  tools/tasks/index.js
  tools/tasks/restore.js
  tools/tasks/setVersion.js
  tools/tasks/settings.js
  tools/tasks/test.dotnet.js
  tools/tasks/updateFile.js
  tools/tasks/version.js
  tools/toTasks.js
  yarn.lock
Labels: CI, code style, performance, test
