Repository graphql-dotnet/parser, pull requests merged in 2021-01, with the labels that each got.

#97 Remove setters from ISource/Source
  .github/labeler.yml
  .github/workflows/label.yml
  .github/workflows/publish-release.yml
  src/Directory.Build.props
  src/GraphQLParser.ApiTests/ApiApprovalTests.Public_Api_Should_Not_Change_Inadvertently.approved.txt
  src/GraphQLParser.Tests/LexerTests.cs
  src/GraphQLParser.sln
  src/GraphQLParser/AST/GraphQLLocation.cs
  src/GraphQLParser/ISource.cs
  src/GraphQLParser/Location.cs
  src/GraphQLParser/ParserContext.cs
  src/GraphQLParser/Source.cs
Labels: BREAKING, CI

#98 Add xml comments
  src/GraphQLParser/AST/GraphQLListType.cs
  src/GraphQLParser/AST/GraphQLListValue.cs
  src/GraphQLParser/AST/GraphQLLocation.cs
  src/GraphQLParser/AST/GraphQLNamedType.cs
  src/GraphQLParser/AST/GraphQLNonNullType.cs
  src/GraphQLParser/Token.cs
Labels: documentation

#99 Benchmarks rework
  src/Directory.Build.props
  src/GraphQLParser.Benchmarks/Benchmarks/IBenchmark.cs
  src/GraphQLParser.Benchmarks/Benchmarks/LexerBenchmark.cs
  src/GraphQLParser.Benchmarks/Benchmarks/ParserBenchmark.cs
  src/GraphQLParser.Benchmarks/Benchmarks/ParserBinaryBenchmark.cs
  src/GraphQLParser.Benchmarks/Files/BinaryTest.graphql
  src/GraphQLParser.Benchmarks/Files/github.graphql
  src/GraphQLParser.Benchmarks/Files/introspectionQuery.graphql
  src/GraphQLParser.Benchmarks/Files/kitchenSink.graphql
  src/GraphQLParser.Benchmarks/Files/query_with_many_escape_symbols.graphql
  src/GraphQLParser.Benchmarks/GraphQLParser.Benchmarks.Reference.md
  src/GraphQLParser.Benchmarks/GraphQLParser.Benchmarks.csproj
  src/GraphQLParser.Benchmarks/LexerBenchmark.cs
  src/GraphQLParser.Benchmarks/Program.cs
Labels: performance

#100 Unify benchmarks
  src/Directory.Build.props
  src/GraphQLParser.Benchmarks/Benchmarks/BenchmarkBase.cs
  src/GraphQLParser.Benchmarks/Benchmarks/LexerBenchmark.cs
  src/GraphQLParser.Benchmarks/Benchmarks/ParserBenchmark.cs
  src/GraphQLParser.Benchmarks/Files/hero.graphql
  src/GraphQLParser.Benchmarks/Files/kitchenSink.graphql
  src/GraphQLParser.Benchmarks/Files/params.graphql
  src/GraphQLParser.Benchmarks/Program.cs
Labels: performance

#106 Add dotnet-format
  .editorconfig
  .github/workflows/test.yml
  src/GraphQLParser.ApiTests/ApiApprovalTests.cs
  src/GraphQLParser.ApiTests/GraphQL-Parser.approved.txt
  src/GraphQLParser.Tests/Validation/LexerValidationTests.cs
  src/GraphQLParser.Tests/Validation/ParserValidationTests.cs
  src/GraphQLParser/LexerContext.cs
Labels: CI, code style, test

#104 Fix comment parsing with unattached comments
  src/GraphQLParser.ApiTests/GraphQL-Parser.approved.txt
  src/GraphQLParser.Tests/ParserTests.cs
  src/GraphQLParser/AST/GraphQLDocument.cs
  src/GraphQLParser/Parser.cs
  src/GraphQLParser/ParserContext.cs
Labels: bugfix, test

#105 Add capability to ignore comments during parsing
  src/GraphQLParser.ApiTests/GraphQL-Parser.approved.txt
  src/GraphQLParser.Tests/ParserTests.cs
  src/GraphQLParser/Parser.cs
  src/GraphQLParser/ParserContext.cs
Labels: enhancement, performance, test

#101 string -> ROM
  README.md
  src/Directory.Build.props
  src/GraphQLParser.ApiTests/GraphQL-Parser.approved.txt
  src/GraphQLParser.Benchmarks/Benchmarks/LexerBenchmark.cs
  src/GraphQLParser.Benchmarks/Benchmarks/ParserBenchmark.cs
  src/GraphQLParser.Benchmarks/Benchmarks/ParserBinaryBenchmark.cs
  src/GraphQLParser.Benchmarks/Program.cs
  src/GraphQLParser.Benchmarks/Properties/launchSettings.json
  src/GraphQLParser.Tests/GraphQLAstVisitorTests.cs
  src/GraphQLParser.Tests/Issue82.cs
  src/GraphQLParser.Tests/LexerTests.cs
  src/GraphQLParser.Tests/ParserTests.cs
  src/GraphQLParser.Tests/SourceTests.cs
  src/GraphQLParser.Tests/StringHelperTests.cs
  src/GraphQLParser.Tests/Validation/LexerValidationTests.cs
  src/GraphQLParser.Tests/Validation/ParserValidationTests.cs
  src/GraphQLParser/AST/GraphQLComment.cs
  src/GraphQLParser/AST/GraphQLDocument.cs
  src/GraphQLParser/AST/GraphQLListValue.cs
  src/GraphQLParser/AST/GraphQLLocation.cs
  src/GraphQLParser/AST/GraphQLName.cs
  src/GraphQLParser/AST/GraphQLNamedType.cs
  src/GraphQLParser/AST/GraphQLScalarValue.cs
  src/GraphQLParser/Cache/ConcurrentDictionaryCache.cs
  src/GraphQLParser/Cache/DictionaryCache.cs
  src/GraphQLParser/Cache/ILexemeCache.cs
  src/GraphQLParser/Cache/NoCache.cs
  src/GraphQLParser/Cache/StringHelper.cs
  src/GraphQLParser/Exceptions/GraphQLSyntaxErrorException.cs
  src/GraphQLParser/GraphQLAstVisitor.cs
  src/GraphQLParser/GraphQLParser.csproj
  src/GraphQLParser/ILexer.cs
  src/GraphQLParser/ISource.cs
  src/GraphQLParser/Lexer.cs
  src/GraphQLParser/LexerContext.cs
  src/GraphQLParser/Location.cs
  src/GraphQLParser/Parser.cs
  src/GraphQLParser/ParserContext.cs
  src/GraphQLParser/ParserExtensions.cs
  src/GraphQLParser/ROM.cs
  src/GraphQLParser/Source.cs
  src/GraphQLParser/Token.cs
  src/GraphQLParser/TokenKind.cs
Labels: BREAKING, documentation, performance, test

#108 Add xml docs
  src/GraphQLParser/AST/ASTNode.cs
  src/GraphQLParser/AST/ASTNodeKind.cs
  src/GraphQLParser/AST/Enums.cs
  src/GraphQLParser/AST/GraphQLArgument.cs
  src/GraphQLParser/AST/GraphQLComment.cs
  src/GraphQLParser/AST/GraphQLDirective.cs
  src/GraphQLParser/AST/GraphQLDirectiveDefinition.cs
  src/GraphQLParser/AST/GraphQLDocument.cs
  src/GraphQLParser/AST/GraphQLEnumTypeDefinition.cs
  src/GraphQLParser/AST/GraphQLEnumValueDefinition.cs
  src/GraphQLParser/AST/GraphQLFieldDefinition.cs
  src/GraphQLParser/AST/GraphQLFieldSelection.cs
  src/GraphQLParser/AST/GraphQLFragmentDefinition.cs
  src/GraphQLParser/AST/GraphQLFragmentSpread.cs
  src/GraphQLParser/AST/GraphQLInlineFragment.cs
  src/GraphQLParser/AST/GraphQLInputObjectTypeDefinition.cs
  src/GraphQLParser/AST/GraphQLInputValueDefinition.cs
  src/GraphQLParser/AST/GraphQLInterfaceTypeDefinition.cs
  src/GraphQLParser/AST/GraphQLListType.cs
  src/GraphQLParser/AST/GraphQLListValue.cs
  src/GraphQLParser/AST/GraphQLLocation.cs
  src/GraphQLParser/AST/GraphQLName.cs
  src/GraphQLParser/AST/GraphQLNamedType.cs
  src/GraphQLParser/AST/GraphQLNonNullType.cs
  src/GraphQLParser/AST/GraphQLObjectField.cs
  src/GraphQLParser/AST/GraphQLObjectTypeDefinition.cs
  src/GraphQLParser/AST/GraphQLObjectValue.cs
  src/GraphQLParser/AST/GraphQLOperationDefinition.cs
  src/GraphQLParser/AST/GraphQLOperationTypeDefinition.cs
  src/GraphQLParser/AST/GraphQLScalarTypeDefinition.cs
  src/GraphQLParser/AST/GraphQLScalarValue.cs
  src/GraphQLParser/AST/GraphQLSchemaDefinition.cs
  src/GraphQLParser/AST/GraphQLSelectionSet.cs
  src/GraphQLParser/AST/GraphQLTypeExtensionDefinition.cs
  src/GraphQLParser/AST/GraphQLUnionTypeDefinition.cs
  src/GraphQLParser/AST/GraphQLVariable.cs
  src/GraphQLParser/AST/GraphQLVariableDefinition.cs
  src/GraphQLParser/AST/OperationType.cs
  src/GraphQLParser/Exceptions/GraphQLSyntaxErrorException.cs
  src/GraphQLParser/Lexer.cs
  src/GraphQLParser/Location.cs
  src/GraphQLParser/Parser.cs
  src/GraphQLParser/ROM.cs
  src/GraphQLParser/Token.cs
Labels: documentation

#109 Remove string values
  .editorconfig
  src/GraphQLParser.ApiTests/GraphQL-Parser.approved.txt
  src/GraphQLParser/AST/GraphQLComment.cs
  src/GraphQLParser/AST/GraphQLName.cs
  src/GraphQLParser/AST/GraphQLScalarValue.cs
  src/GraphQLParser/GraphQLParser.csproj
Labels: code style, test

#110 Further memory and performance optimizations
  README.md
  assets/lexer-example.png
  src/GraphQLParser.ApiTests/GraphQL-Parser.approved.txt
  src/GraphQLParser.Benchmarks/Benchmarks/BenchmarkBase.cs
  src/GraphQLParser.Benchmarks/Benchmarks/ParserBenchmark.cs
  src/GraphQLParser.Benchmarks/Files/variables.graphql
  src/GraphQLParser.Benchmarks/Properties/launchSettings.json
  src/GraphQLParser.Tests/GraphQLAstVisitorTests.cs
  src/GraphQLParser.Tests/Issue82.cs
  src/GraphQLParser.Tests/ParserTests.cs
  src/GraphQLParser.Tests/Validation/ParserValidationTests.cs
  src/GraphQLParser/AST/ASTNode.cs
  src/GraphQLParser/AST/GraphQLArgument.cs
  src/GraphQLParser/AST/GraphQLComment.cs
  src/GraphQLParser/AST/GraphQLDirective.cs
  src/GraphQLParser/AST/GraphQLDirectiveDefinition.cs
  src/GraphQLParser/AST/GraphQLDocument.cs
  src/GraphQLParser/AST/GraphQLEnumTypeDefinition.cs
  src/GraphQLParser/AST/GraphQLEnumValueDefinition.cs
  src/GraphQLParser/AST/GraphQLFieldDefinition.cs
  src/GraphQLParser/AST/GraphQLFieldSelection.cs
  src/GraphQLParser/AST/GraphQLFragmentDefinition.cs
  src/GraphQLParser/AST/GraphQLFragmentSpread.cs
  src/GraphQLParser/AST/GraphQLInlineFragment.cs
  src/GraphQLParser/AST/GraphQLInputObjectTypeDefinition.cs
  src/GraphQLParser/AST/GraphQLInputValueDefinition.cs
  src/GraphQLParser/AST/GraphQLInterfaceTypeDefinition.cs
  src/GraphQLParser/AST/GraphQLListType.cs
  src/GraphQLParser/AST/GraphQLListValue.cs
  src/GraphQLParser/AST/GraphQLName.cs
  src/GraphQLParser/AST/GraphQLNamedType.cs
  src/GraphQLParser/AST/GraphQLNonNullType.cs
  src/GraphQLParser/AST/GraphQLObjectField.cs
  src/GraphQLParser/AST/GraphQLObjectTypeDefinition.cs
  src/GraphQLParser/AST/GraphQLObjectValue.cs
  src/GraphQLParser/AST/GraphQLOperationDefinition.cs
  src/GraphQLParser/AST/GraphQLOperationTypeDefinition.cs
  src/GraphQLParser/AST/GraphQLScalarTypeDefinition.cs
  src/GraphQLParser/AST/GraphQLScalarValue.cs
  src/GraphQLParser/AST/GraphQLSchemaDefinition.cs
  src/GraphQLParser/AST/GraphQLSelectionSet.cs
  src/GraphQLParser/AST/GraphQLTypeExtensionDefinition.cs
  src/GraphQLParser/AST/GraphQLUnionTypeDefinition.cs
  src/GraphQLParser/AST/GraphQLVariable.cs
  src/GraphQLParser/AST/GraphQLVariableDefinition.cs
  src/GraphQLParser/IgnoreOptions.cs
  src/GraphQLParser/Parser.cs
  src/GraphQLParser/ParserContext.Parse.cs
  src/GraphQLParser/ParserContext.cs
  src/GraphQLParser/ParserExtensions.cs
  src/GraphQLParser/ParserOptions.cs
  src/GraphQLParser/Token.cs
Labels: documentation, performance, test

#112 Remove extension methods
  README.md
  src/GraphQLParser.ApiTests/GraphQL-Parser.approved.txt
  src/GraphQLParser.Benchmarks/Benchmarks/ParserBenchmark.cs
  src/GraphQLParser.Benchmarks/Benchmarks/ParserBinaryBenchmark.cs
  src/GraphQLParser.Tests/Extensions.cs
  src/GraphQLParser/ParserExtensions.cs
Labels: documentation, performance, test
