Repository graphql-dotnet/parser, pull requests merged in 2022-11, with the labels that each got.

#276 Verify StringBuilder and MemoryStream writing is synchronous
  src/GraphQLParser.Tests/Visitors/SDLPrinterTests.cs
Labels: test

#277 Add SDLPrinter synchronous extension methods
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/Visitors/SDLPrinterTests.cs
  src/GraphQLParser/Visitors/SDLPrinterExtensions.cs
Labels: enhancement

#280 NET7
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  src/GraphQLParser.ApiTests/GraphQLParser.ApiTests.csproj
  src/GraphQLParser.Benchmarks/GraphQLParser.Benchmarks.csproj
  src/GraphQLParser.Tests/GraphQLParser.Tests.csproj
Labels: CI

#281 Introduce raw string literals
  src/GraphQLParser.Tests/Issues/Issue82.cs
  src/GraphQLParser.Tests/ParserTests.cs
  src/GraphQLParser.Tests/Visitors/CountVisitorTests.cs
  src/GraphQLParser.Tests/Visitors/SDLPrinterTests.cs
  src/GraphQLParser.Tests/Visitors/StructurePrinterTests.cs
Labels: code style

#282 C#11 pattern matching for Span<char>
  src/GraphQLParser/ParserContext.Parse.cs
Labels: code style
