Repository graphql-dotnet/parser, pull requests merged in 2022-02, with the labels that each got.

#226 Optimize escaped unicode case
  src/GraphQLParser.Tests/Visitors/SDLPrinterTests.cs
  src/GraphQLParser/Visitors/SDLPrinter.cs
Labels: test

#229 Fix tests
  src/GraphQLParser.Tests/Visitors/SDLPrinterTests.cs
Labels: test

#230 Add tests
  src/GraphQLParser.Tests/MemoryTests.cs
  src/GraphQLParser.Tests/Visitors/SDLPrinterTests.cs
  src/GraphQLParser/AST/Enums/DirectiveLocation.cs
  src/GraphQLParser/Exceptions/GraphQLMaxDepthExceededException.cs
  src/GraphQLParser/Exceptions/GraphQLParserException.cs
  src/GraphQLParser/ParserContext.Parse.cs
  src/GraphQLParser/ParserContext.cs
  src/GraphQLParser/ROM.cs
  src/GraphQLParser/Visitors/PrintContextExtensions.cs
  src/GraphQLParser/Visitors/StructurePrinter.cs
Labels: test

#232 More tests
  src/GraphQLParser.Tests/ParserTests.Depth.cs
  src/GraphQLParser.Tests/ParserTests.Throw.cs
  src/GraphQLParser.Tests/ParserTests.cs
Labels: test

#233 Tune coverlet
  .github/workflows/test.yml
Labels: CI

#234 Increase code coverage
  src/GraphQLParser.Tests/ParserTests.Throw.cs
  src/GraphQLParser.Tests/ParserTests.cs
  src/GraphQLParser/ParserContext.Parse.cs
  src/GraphQLParser/ParserContext.cs
Labels: test

#235 Tests
  src/GraphQLParser.Tests/LexerTests.Throw.cs
  src/GraphQLParser.Tests/LexerTests.cs
Labels: test

#239 More tests
  src/GraphQLParser.Tests/ParserTests.Throw.cs
Labels: test

#240 Test blockstring linefeed parsing
  src/GraphQLParser.Tests/LexerTests.cs
Labels: test

#241 Code style changes
  src/GraphQLParser/Visitors/SDLPrinter.cs
Labels: code style

#236 Fix docs
  README.md
Labels: documentation

#242 Tune CI
  src/Directory.Build.targets
  src/GraphQLParser/ParserContext.cs
Labels: CI
