Repository graphql-dotnet/parser, pull requests merged in 2022-01, with the labels that each got.

#156 Fix package name
  src/GraphQLParser/GraphQLParser.csproj
Labels: bugfix

#158 Strict grammar
  src/GraphQLParser/ParserContext.Parse.cs
Labels: spec compliance

#153 Add maximum depth limit to Parser
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/ParserTests.cs
  src/GraphQLParser/Exceptions/GraphQLMaxDepthExceededException.cs
  src/GraphQLParser/Exceptions/GraphQLParserException.cs
  src/GraphQLParser/Exceptions/GraphQLSyntaxErrorException.cs
  src/GraphQLParser/ParserContext.Parse.cs
  src/GraphQLParser/ParserContext.cs
  src/GraphQLParser/ParserOptions.cs
Labels: enhancement, test

#157 Introduce CountVisitor and MaxDepthVisitor, tune depth calculation
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/ParserTests.cs
  src/GraphQLParser.Tests/Visitors/CountVisitorTests.cs
  src/GraphQLParser.Tests/Visitors/MaxDepthVisitorTests.cs
  src/GraphQLParser.Tests/Visitors/StructureWriterTests.cs
  src/GraphQLParser/Extensions/ASTNodeExtensions.cs
  src/GraphQLParser/Extensions/ParserExtensions.cs
  src/GraphQLParser/Parser.cs
  src/GraphQLParser/ParserContext.Parse.cs
  src/GraphQLParser/ParserContext.cs
  src/GraphQLParser/ParserOptions.cs
  src/GraphQLParser/Visitors/CountVisitor.cs
  src/GraphQLParser/Visitors/MaxDepthVisitor.cs
Labels: enhancement, test

#160 DirectiveLocations AST node, fix parsing/printing directive locations, set Location
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/ParserTests.cs
  src/GraphQLParser.Tests/Visitors/SDLWriterTests.cs
  src/GraphQLParser/AST/Enums/ASTNodeKind.cs
  src/GraphQLParser/AST/Enums/DirectiveLocation.cs
  src/GraphQLParser/AST/Enums/OperationType.cs
  src/GraphQLParser/AST/GraphQLDirectiveDefinition.cs
  src/GraphQLParser/AST/GraphQLDirectiveLocations.cs
  src/GraphQLParser/NodeHelper.cs
  src/GraphQLParser/ParserContext.Parse.cs
  src/GraphQLParser/ParserContext.cs
  src/GraphQLParser/Visitors/DefaultNodeVisitor.cs
  src/GraphQLParser/Visitors/INodeVisitor.cs
  src/GraphQLParser/Visitors/SDLWriter.cs
Labels: bugfix, spec compliance, test

#161 Ensure that depth is not mismatched
  src/GraphQLParser/ParserContext.Parse.cs
Labels: bugfix, test

#163 Strict parsing for ParseNamedDefinition/ParseOperationType
  src/GraphQLParser.Tests/ParserTests.cs
  src/GraphQLParser.Tests/Validation/ParserValidationTests.cs
  src/GraphQLParser/ParserContext.Parse.cs
  src/GraphQLParser/ParserContext.cs
Labels: enhancement, spec compliance, test

#164 Nullability/CodeQL cleanup, add comments
  src/Directory.Build.props
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/ParserTests.cs
  src/GraphQLParser.Tests/Visitors/SDLWriterTests.cs
  src/GraphQLParser/AST/ASTListNode.cs
  src/GraphQLParser/AST/GraphQLAlias.cs
  src/GraphQLParser/AST/GraphQLArgument.cs
  src/GraphQLParser/AST/GraphQLDirective.cs
  src/GraphQLParser/AST/GraphQLField.cs
  src/GraphQLParser/AST/GraphQLFieldDefinition.cs
  src/GraphQLParser/AST/GraphQLFragmentDefinition.cs
  src/GraphQLParser/AST/GraphQLFragmentSpread.cs
  src/GraphQLParser/AST/GraphQLInputValueDefinition.cs
  src/GraphQLParser/AST/GraphQLListType.cs
  src/GraphQLParser/AST/GraphQLNamedType.cs
  src/GraphQLParser/AST/GraphQLNonNullType.cs
  src/GraphQLParser/AST/GraphQLObjectField.cs
  src/GraphQLParser/AST/GraphQLOperationDefinition.cs
  src/GraphQLParser/AST/GraphQLTypeDefinition.cs
  src/GraphQLParser/AST/GraphQLTypeExtension.cs
  src/GraphQLParser/AST/GraphQLVariable.cs
  src/GraphQLParser/AST/GraphQLVariableDefinition.cs
  src/GraphQLParser/AST/Interfaces/IHasArgumentsDefinitionNode.cs
  src/GraphQLParser/AST/Interfaces/IHasArgumentsNode.cs
  src/GraphQLParser/AST/Interfaces/IHasDefaultValueNode.cs
  src/GraphQLParser/AST/Interfaces/IHasDescriptionNode.cs
  src/GraphQLParser/AST/Interfaces/IHasDirectivesNode.cs
  src/GraphQLParser/AST/Interfaces/IHasFieldsDefinitionNode.cs
  src/GraphQLParser/AST/Interfaces/IHasInterfacesNode.cs
  src/GraphQLParser/AST/Interfaces/INamedNode.cs
  src/GraphQLParser/LexerContext.cs
  src/GraphQLParser/ParserContext.Parse.cs
  src/GraphQLParser/Visitors/SDLWriter.cs
Labels: enhancement, test

#165 Cleanup: strict grammar, xmldocs, embedded readme, nullable annotations
  src/Directory.Build.props
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser/AST/GraphQLArgument.cs
  src/GraphQLParser/AST/GraphQLDocument.cs
  src/GraphQLParser/AST/GraphQLEnumTypeDefinition.cs
  src/GraphQLParser/AST/GraphQLEnumTypeExtension.cs
  src/GraphQLParser/AST/GraphQLExecutableDefinition.cs
  src/GraphQLParser/AST/GraphQLFragmentDefinition.cs
  src/GraphQLParser/AST/GraphQLInlineFragment.cs
  src/GraphQLParser/AST/GraphQLInterfaceTypeDefinition.cs
  src/GraphQLParser/AST/GraphQLInterfaceTypeExtension.cs
  src/GraphQLParser/AST/GraphQLOperationDefinition.cs
  src/GraphQLParser/AST/GraphQLSchemaDefinition.cs
  src/GraphQLParser/AST/Interfaces/IHasFieldsDefinitionNode.cs
  src/GraphQLParser/AST/Interfaces/IHasInterfacesNode.cs
  src/GraphQLParser/AST/Interfaces/INamedNode.cs
  src/GraphQLParser/ParserContext.Parse.cs
  src/GraphQLParser/Visitors/SDLWriter.cs
Labels: test

#169 Add ambiguity test
  src/GraphQLParser.Tests/Issue127.cs
Labels: test

#170 Increase code coverage
  src/GraphQLParser.Tests/Visitors/CountVisitorTests.cs
  src/GraphQLParser.Tests/Visitors/DefaultNodeVisitorTests.cs
  src/GraphQLParser.Tests/Visitors/StructureWriterTests.cs
  src/GraphQLParser/Visitors/DefaultNodeVisitor.cs
Labels: test

#171 Analyze only parser project, exclude tests
  .github/workflows/codeql-analysis.yml
Labels: CI

#172 Increase code coverage + SDLWriter fixes
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/Visitors/CountVisitorTests.cs
  src/GraphQLParser.Tests/Visitors/SDLWriterTests.cs
  src/GraphQLParser.Tests/Visitors/StructureWriterTests.cs
  src/GraphQLParser/AST/GraphQLSelectionSet.cs
  src/GraphQLParser/ParserContext.Parse.cs
  src/GraphQLParser/Visitors/SDLWriter.cs
Labels: test

#174 Add more tests
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/LocationTests.cs
  src/GraphQLParser.Tests/ParserTests.cs
  src/GraphQLParser.Tests/TokenTests.cs
  src/GraphQLParser.Tests/Visitors/StructureWriterTests.cs
  src/GraphQLParser/AST/GraphQLAlias.cs
  src/GraphQLParser/Visitors/StructureWriter.cs
Labels: test

#175 Parse forgotten comments, unify descriptions
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Benchmarks/Program.cs
  src/GraphQLParser.Tests/Files/CommentsOnArguments.graphql
  src/GraphQLParser.Tests/GraphQLParser.Tests.csproj
  src/GraphQLParser.Tests/LexerTests.cs
  src/GraphQLParser.Tests/LocationTests.cs
  src/GraphQLParser.Tests/ParserTests.cs
  src/GraphQLParser.Tests/Visitors/GraphQLAstVisitorTests.cs
  src/GraphQLParser.Tests/Visitors/StructureWriterTests.cs
  src/GraphQLParser/AST/GraphQLBooleanValue.cs
  src/GraphQLParser/AST/GraphQLDirectives.cs
  src/GraphQLParser/AST/GraphQLFloatValue.cs
  src/GraphQLParser/AST/GraphQLIntValue.cs
  src/GraphQLParser/AST/GraphQLListType.cs
  src/GraphQLParser/AST/GraphQLListValue.cs
  src/GraphQLParser/AST/GraphQLNamedType.cs
  src/GraphQLParser/AST/GraphQLNonNullType.cs
  src/GraphQLParser/AST/GraphQLNullValue.cs
  src/GraphQLParser/AST/GraphQLStringValue.cs
  src/GraphQLParser/NodeHelper.cs
  src/GraphQLParser/ParserContext.Parse.cs
  src/GraphQLParser/ParserContext.cs
  src/GraphQLParser/Visitors/DefaultNodeVisitor.cs
  src/GraphQLParser/Visitors/SDLWriter.cs
  src/GraphQLParser/Visitors/StructureWriter.cs
Labels: bugfix, performance, test

#176 Add tests
  src/GraphQLParser.Tests/Files/CommentsOnEnum.graphql
  src/GraphQLParser.Tests/Files/CommentsOnType.graphql
  src/GraphQLParser.Tests/ParserTests.cs
  src/GraphQLParser.Tests/Visitors/SDLWriterTests.cs
  src/GraphQLParser.Tests/Visitors/StructureWriterTests.cs
  src/GraphQLParser/AST/GraphQLFloatValue.cs
  src/GraphQLParser/ParserContext.Parse.cs
  src/GraphQLParser/ParserContext.cs
Labels: bugfix, test

#177 Add more tests
  src/GraphQLParser.Tests/Files/CommentsOnArguments.graphql
  src/GraphQLParser.Tests/Files/CommentsOnDirectiveDefinition.graphql
  src/GraphQLParser.Tests/Files/CommentsOnEnum.graphql
  src/GraphQLParser.Tests/Files/CommentsOnInput.graphql
  src/GraphQLParser.Tests/Files/CommentsOnScalar.graphql
  src/GraphQLParser.Tests/Files/CommentsOnType.graphql
  src/GraphQLParser.Tests/Files/CommentsOnUnion.graphql
  src/GraphQLParser.Tests/Files/CommentsOnVariables.graphql
  src/GraphQLParser.Tests/ParserTests.cs
  src/GraphQLParser.Tests/Visitors/StructureWriterTests.cs
  src/GraphQLParser/ParserContext.Parse.cs
  src/GraphQLParser/ParserContext.cs
Labels: test

#178 Add tests
  src/GraphQLParser.Tests/Visitors/StructureWriterTests.cs
Labels: test

#179 Add Lexer tests
  src/GraphQLParser.Tests/LexerTests.cs
Labels: test

#180 Add tests
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Benchmarks/Benchmarks/LexerBenchmark.cs
  src/GraphQLParser.Tests/LexerTests.cs
  src/GraphQLParser.Tests/NodeHelperTests.cs
  src/GraphQLParser/AST/GraphQLBooleanValue.cs
  src/GraphQLParser/AST/GraphQLComment.cs
  src/GraphQLParser/AST/GraphQLDescription.cs
  src/GraphQLParser/AST/GraphQLFloatValue.cs
  src/GraphQLParser/AST/GraphQLIntValue.cs
  src/GraphQLParser/AST/GraphQLListValue.cs
  src/GraphQLParser/AST/GraphQLLocation.cs
  src/GraphQLParser/AST/GraphQLName.cs
  src/GraphQLParser/AST/GraphQLNullValue.cs
  src/GraphQLParser/AST/GraphQLStringValue.cs
  src/GraphQLParser/AST/GraphQLTypeCondition.cs
  src/GraphQLParser/ParserContext.Parse.cs
Labels: performance, test

#182 Add IHasSelectionSetNode
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser/AST/GraphQLExecutableDefinition.cs
  src/GraphQLParser/AST/GraphQLField.cs
  src/GraphQLParser/AST/GraphQLInlineFragment.cs
  src/GraphQLParser/AST/Interfaces/IHasSelectionSetNode.cs
Labels: enhancement

#183 Add ISelectionNode
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser/AST/GraphQLField.cs
  src/GraphQLParser/AST/GraphQLFragmentSpread.cs
  src/GraphQLParser/AST/GraphQLInlineFragment.cs
  src/GraphQLParser/AST/Interfaces/ISelectionNode.cs
Labels: test

#185 Explicit cast to string
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/MemoryTests.cs
  src/GraphQLParser/AST/GraphQLName.cs
Labels: enhancement, test

#186 ROM optimizations
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/GraphQLParser.Tests.csproj
  src/GraphQLParser.Tests/MemoryTests.cs
  src/GraphQLParser/AST/GraphQLName.cs
  src/GraphQLParser/ROM.cs
Labels: performance, test

#187 Add IsEmptyOrWhiteSpace
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/MemoryTests.cs
  src/GraphQLParser/ROM.cs
Labels: enhancement, test

#188 NRE fix
  .github/workflows/test.yml
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/MemoryTests.cs
  src/GraphQLParser/AST/GraphQLName.cs
Labels: bugfix, CI, test

#189 Fix InvalidOperationException and NRE
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/MemoryTests.cs
  src/GraphQLParser/AST/GraphQLName.cs
  src/GraphQLParser/Visitors/DefaultNodeVisitor.cs
Labels: bugfix, test

#190 GetHashCode fix
  src/GraphQLParser.Tests/MemoryTests.cs
  src/GraphQLParser/ROM.cs
Labels: bugfix, test

#192 Add GraphQLName.ToString/StringValue
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/MemoryTests.cs
  src/GraphQLParser/AST/GraphQLName.cs
Labels: enhancement, test

#196 Add new APIs and fill all comments
  src/Directory.Build.props
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/ParserTests.cs
  src/GraphQLParser.Tests/Values/GraphQLObjectValueTests.cs
  src/GraphQLParser/AST/Definitions/GraphQLInputObjectTypeDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLObjectTypeDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLUnionTypeDefinition.cs
  src/GraphQLParser/AST/Extensions/GraphQLInputObjectTypeExtension.cs
  src/GraphQLParser/AST/Extensions/GraphQLObjectTypeExtension.cs
  src/GraphQLParser/AST/Extensions/GraphQLUnionTypeExtension.cs
  src/GraphQLParser/AST/GraphQLObjectField.cs
  src/GraphQLParser/AST/Values/GraphQLObjectValue.cs
  src/GraphQLParser/Extensions/ASTNodeExtensions.cs
Labels: enhancement, documentation, test

#197 More conversions
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/Values/GraphQLNameTests.cs
  src/GraphQLParser/AST/GraphQLName.cs
  src/GraphQLParser/ParserContext.Parse.cs
  src/GraphQLParser/Visitors/SDLWriter.cs
Labels: test

#198 More APIs for GraphQL.NET
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/ParserTests.cs
  src/GraphQLParser.Tests/Values/GraphQLArgumentsTests.cs
  src/GraphQLParser/AST/GraphQLArguments.cs
  src/GraphQLParser/Extensions/ASTNodeExtensions.cs
Labels: enhancement, test

#200 Pretty print + fix comments
  README.md
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/Files/CommentsOnAlias.graphql
  src/GraphQLParser.Tests/ParserTests.cs
  src/GraphQLParser.Tests/Visitors/SDLWriterTests.cs
  src/GraphQLParser.Tests/Visitors/StructureWriterTests.cs
  src/GraphQLParser/NotNullWhenAttribute.cs
  src/GraphQLParser/ParserContext.Parse.cs
  src/GraphQLParser/Visitors/IWriteContext.cs
  src/GraphQLParser/Visitors/SDLWriter.cs
Labels: enhancement, bugfix, test

#201 Add nullable annotations in operators
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/MemoryTests.cs
  src/GraphQLParser.Tests/Values/GraphQLNameTests.cs
  src/GraphQLParser/AST/GraphQLName.cs
  src/GraphQLParser/ROM.cs
Labels: enhancement, test

#202 Optimize location conversion
  src/GraphQLParser.Tests/LocationTests.cs
  src/GraphQLParser/Location.cs
  src/GraphQLParser/ROM.cs
Labels: performance, test

#204 Split GraphQLBooleanValue
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/Values/GraphQLBooleanValueTests.cs
  src/GraphQLParser/AST/Values/GraphQLBooleanValue.cs
  src/GraphQLParser/NodeHelper.cs
Labels: performance

#205 Add DoesNotReturnAttribute
  src/GraphQLParser/Annotations/DoesNotReturnAttribute.cs
  src/GraphQLParser/Annotations/NotNullWhenAttribute.cs
  src/GraphQLParser/LexerContext.cs
  src/GraphQLParser/ParserContext.Parse.cs
  src/GraphQLParser/ParserContext.cs
Labels: enhancement

#203 Use string.GetHashCode for NET6
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/GraphQLParser.Tests.csproj
  src/GraphQLParser.Tests/MemoryTests.cs
  src/GraphQLParser/AST/GraphQLLocation.cs
  src/GraphQLParser/AST/GraphQLName.cs
  src/GraphQLParser/GraphQLParser.csproj
  src/GraphQLParser/ROM.cs
  src/GraphQLParser/Visitors/WriteContextExtensions.cs
Labels: performance, test

#207 More tests
  .github/workflows/test.yml
  src/GraphQLParser.Tests/GraphQLParser.Tests.csproj
  src/GraphQLParser.Tests/Issues/Issue127.cs
  src/GraphQLParser.Tests/Issues/Issue2478_GraphQL_NET.cs
  src/GraphQLParser.Tests/Issues/Issue82.cs
  src/GraphQLParser.Tests/Visitors/SDLWriterTests.cs
  src/GraphQLParser/AST/GraphQLComment.cs
  src/GraphQLParser/Visitors/SDLWriter.cs
Labels: CI, test

#209 Append 'Async' suffix to async methods
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/Visitors/CountVisitorTests.cs
  src/GraphQLParser.Tests/Visitors/DefaultNodeVisitorTests.cs
  src/GraphQLParser.Tests/Visitors/GraphQLAstVisitorTests.cs
  src/GraphQLParser.Tests/Visitors/MaxDepthVisitorTests.cs
  src/GraphQLParser.Tests/Visitors/SDLWriterTests.cs
  src/GraphQLParser.Tests/Visitors/StructureWriterTests.cs
  src/GraphQLParser/Extensions/ASTNodeExtensions.cs
  src/GraphQLParser/Visitors/CountVisitor.cs
  src/GraphQLParser/Visitors/DefaultNodeVisitor.cs
  src/GraphQLParser/Visitors/INodeVisitor.cs
  src/GraphQLParser/Visitors/MaxDepthVisitor.cs
  src/GraphQLParser/Visitors/SDLWriter.cs
  src/GraphQLParser/Visitors/StructureWriter.cs
  src/GraphQLParser/Visitors/WriteContextExtensions.cs
Labels: code style

#208 Remove INodeVisitor; Write -> Print; switch to init properties
  README.md
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/Visitors/DefaultNodeVisitorTests.cs
  src/GraphQLParser.Tests/Visitors/GraphQLAstVisitorTests.cs
  src/GraphQLParser.Tests/Visitors/SDLWriterTests.cs
  src/GraphQLParser.Tests/Visitors/StructureWriterTests.cs
  src/GraphQLParser/Annotations/IsExternalInit.cs
  src/GraphQLParser/Visitors/ASTVisitor.cs
  src/GraphQLParser/Visitors/CountVisitor.cs
  src/GraphQLParser/Visitors/IASTVisitorContext.cs
  src/GraphQLParser/Visitors/INodeVisitor.cs
  src/GraphQLParser/Visitors/IPrintContext.cs
  src/GraphQLParser/Visitors/MaxDepthVisitor.cs
  src/GraphQLParser/Visitors/PrintContextExtensions.cs
  src/GraphQLParser/Visitors/SDLPrinter.cs
  src/GraphQLParser/Visitors/StructurePrinter.cs
Labels: documentation, test

#211 Add GraphQLDocument.Source
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/ParserTests.cs
  src/GraphQLParser/AST/GraphQLDocument.cs
  src/GraphQLParser/ParserContext.cs
Labels: enhancement, test

#212 Add deconstruct methods
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/LocationTests.cs
  src/GraphQLParser/AST/GraphQLLocation.cs
  src/GraphQLParser/Location.cs
Labels: enhancement, test

#213 Add equality bits to Location
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/LocationTests.cs
  src/GraphQLParser/Exceptions/GraphQLParserException.cs
  src/GraphQLParser/Location.cs
Labels: enhancement, test

#214 Merge Line/Column props into Location
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/LexerTests.cs
  src/GraphQLParser.Tests/ParserTests.cs
  src/GraphQLParser.Tests/Validation/LexerValidationTests.cs
  src/GraphQLParser.Tests/Validation/ParserValidationTests.cs
  src/GraphQLParser/Exceptions/GraphQLParserException.cs
Labels: enhancement

#215 Respect CancellationToken by ASTVisitor
  src/GraphQLParser.Tests/Visitors/ASTVisitorTests.cs
  src/GraphQLParser.Tests/Visitors/DefaultNodeVisitorTests.cs
  src/GraphQLParser.Tests/Visitors/SDLWriterTests.cs
  src/GraphQLParser/Visitors/ASTVisitor.cs
Labels: enhancement, test

#216 Optimize WriteEncodedStringAsync
  src/GraphQLParser.Tests/Visitors/SDLWriterTests.cs
  src/GraphQLParser/Visitors/SDLPrinter.cs
Labels: performance, test

#218 Prettify schema definition
  src/GraphQLParser.Tests/Visitors/SDLWriterTests.cs
  src/GraphQLParser/Visitors/SDLPrinter.cs
Labels: enhancement

#219 Prettify new lines
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/Visitors/MaxDepthVisitorTests.cs
  src/GraphQLParser.Tests/Visitors/SDLPrinterTests.cs
  src/GraphQLParser.Tests/Visitors/SDLPrinterVerticalIndentationTests.cs
  src/GraphQLParser.Tests/Visitors/StructurePrinterTests.cs
  src/GraphQLParser/Visitors/IPrintContext.cs
  src/GraphQLParser/Visitors/PrintContextExtensions.cs
  src/GraphQLParser/Visitors/SDLPrinter.cs
Labels: enhancement, test

#221 Fix indentation for field arguments
  src/GraphQLParser.Tests/Visitors/SDLPrinterTests.cs
  src/GraphQLParser/AST/Definitions/GraphQLDirectiveDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLEnumTypeDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLEnumValueDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLFieldDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLFragmentDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLInputObjectTypeDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLInterfaceTypeDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLObjectTypeDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLOperationDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLScalarTypeDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLUnionTypeDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLVariableDefinition.cs
  src/GraphQLParser/AST/GraphQLDirective.cs
  src/GraphQLParser/AST/Types/GraphQLListType.cs
  src/GraphQLParser/AST/Types/GraphQLNamedType.cs
  src/GraphQLParser/AST/Types/GraphQLNonNullType.cs
  src/GraphQLParser/AST/Values/GraphQLEnumValue.cs
  src/GraphQLParser/AST/Values/GraphQLVariable.cs
  src/GraphQLParser/Visitors/SDLPrinter.cs
Labels: bugfix, test

#222 Prettify directives
  src/GraphQLParser.Tests/Visitors/SDLPrinterSkipDirectivesTests.cs
  src/GraphQLParser.Tests/Visitors/SDLPrinterTests.cs
  src/GraphQLParser/Visitors/SDLPrinter.cs
Labels: enhancement, test

#223 Prettify indentation
  src/GraphQLParser.Tests/Visitors/SDLPrinterSkipDirectivesTests.cs
  src/GraphQLParser.Tests/Visitors/SDLPrinterTests.cs
  src/GraphQLParser/Visitors/SDLPrinter.cs
Labels: enhancement, test

#224 Prettify directive
  src/GraphQLParser.Tests/Visitors/SDLPrinterTests.cs
  src/GraphQLParser/Visitors/SDLPrinter.cs
Labels: enhancement, test

#225 Update GraphQLParser.Tests.csproj
  src/GraphQLParser.Tests/GraphQLParser.Tests.csproj
Labels: test
