Repository graphql-dotnet/parser, pull requests merged in 2023-10, with the labels that each got.

#347 Fix fragment sorting
  src/GraphQLParser.Tests/Visitors/SDLSorterTests.SortsSchemaDefinition.approved.ExecutableSortTests.graphql
  src/GraphQLParser/Visitors/SDLSorterOptions.cs
Labels: bugfix

#350 Bump xunit and related fixes
  .github/workflows/test.yml
  src/GraphQLParser.ApiTests/GraphQLParser.ApiTests.csproj
  src/GraphQLParser.Tests/GraphQLParser.Tests.csproj
  src/GraphQLParser.Tests/Visitors/ASTVisitorTests.cs
  src/GraphQLParser.Tests/Visitors/CountVisitorTests.cs
  src/GraphQLParser.Tests/Visitors/MaxDepthVisitorTests.cs
  src/GraphQLParser.Tests/Visitors/SDLPrinterFromParsedTextTests.cs
  src/GraphQLParser.Tests/Visitors/SDLPrinterSkipDirectivesTests.cs
  src/GraphQLParser.Tests/Visitors/SDLPrinterVerticalIndentationTests.cs
  src/GraphQLParser.Tests/Visitors/StructurePrinterTests.cs
  src/GraphQLParser/Visitors/PrintContextExtensions.cs
  src/GraphQLParser/Visitors/SDLPrinterExtensions.cs
Labels: bugfix, CI, test

#355 Fix doubled whitespace for inline fragments
  .github/workflows/codeql-analysis.yml
  src/GraphQLParser.Tests/Visitors/SDLSorterTests.SortsSchemaDefinition.approved.ExecutableSortTests.graphql
  src/GraphQLParser.Tests/Visitors/SDLSorterTests.SortsSchemaDefinition.approved.KitchenSink.graphql
  src/GraphQLParser/Visitors/SDLPrinter.cs
Labels: bugfix, test

#358 Fix inconsistent formatting of arguments
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/Visitors/SDLPrinterFromParsedTextTests.cs
  src/GraphQLParser/AST/Definitions/GraphQLInputValueDefinition.cs
  src/GraphQLParser/Visitors/SDLPrinter.cs
  src/GraphQLParser/Visitors/SDLPrinterArgumentsMode.cs
Labels: enhancement

#359 Fix whitespace issues
  src/Directory.Build.props
  src/GraphQLParser.Tests/ParserTests.CustomAST.cs
  src/GraphQLParser/Visitors/SDLPrinter.cs
Labels: enhancement, test

#361 Fix quad quote handling
  src/GraphQLParser.Tests/Visitors/SDLPrinterTests.cs
  src/GraphQLParser/LexerContext.cs
  src/GraphQLParser/Visitors/SDLPrinter.cs
Labels: bugfix
