Repository graphql-dotnet/parser, pull requests merged in 2023-04, with the labels that each got.

#292 Add contributors into readme
  README.md
Labels: documentation

#293 Add test for deprecations on args and input fields
  src/GraphQLParser.Tests/Files/DeprecatedOnArgAndInputField.graphql
  src/GraphQLParser.Tests/ParserTests.cs
Labels: test

#294 Add SDLPrinterOptions.IndentSize
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/Visitors/SDLPrinterTests.cs
  src/GraphQLParser/Visitors/SDLPrinter.cs
Labels: enhancement, test

#295 Allow to parse value literals
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/ParserTests.cs
  src/GraphQLParser/GraphQLParser.csproj
  src/GraphQLParser/Parser.cs
  src/GraphQLParser/ParserContext.Parse.cs
  src/GraphQLParser/ParserContext.cs
  src/GraphQLParser/Visitors/SDLPrinter.cs
Labels: enhancement, test

#298 Parse any type
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/ParserTests.cs
  src/GraphQLParser/Parser.cs
  src/GraphQLParser/ParserContext.Parse.cs
Labels: test

#297 Introduce PolySharp
  src/GraphQLParser/Annotations/DoesNotReturnAttribute.cs
  src/GraphQLParser/Annotations/IsExternalInit.cs
  src/GraphQLParser/Annotations/NotNullWhenAttribute.cs
  src/GraphQLParser/GraphQLParser.csproj
Labels: test

#300 Fix NRE when printing directive without locations
  src/GraphQLParser.Tests/Visitors/SDLPrinterTests.cs
  src/GraphQLParser/Visitors/SDLPrinter.cs
Labels: enhancement, test

#301 Use query-filters for CodeQL
  .github/codeql-config.yml
  .github/workflows/codeql-analysis.yml
  src/GraphQLParser.sln
Labels: CI

#303 Add StructurePrinterOptions.IndentSize
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/Visitors/StructurePrinterTests.cs
  src/GraphQLParser/Visitors/StructurePrinter.cs
Labels: enhancement, test

#304 Refactor SDLPrinter for better indentation
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/Visitors/SDLPrinterFromManualASTTests.cs
  src/GraphQLParser.Tests/Visitors/SDLPrinterFromParsedTextTests.cs
  src/GraphQLParser.Tests/Visitors/SDLPrinterVerticalIndentationTests.cs
  src/GraphQLParser/AST/Definitions/GraphQLEnumValueDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLFieldDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLInputValueDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLTypeDefinition.cs
  src/GraphQLParser/Visitors/IPrintContext.cs
  src/GraphQLParser/Visitors/PrintContextExtensions.cs
  src/GraphQLParser/Visitors/SDLPrinter.cs
  src/GraphQLParser/Visitors/StructurePrinter.cs
Labels: bugfix, BREAKING, test

#305 Fix PackageReadmeFile and apply analyzers
  src/Directory.Build.props
  src/GraphQLParser.ApiTests/ApiApprovalTests.cs
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Benchmarks/Benchmarks/BenchmarkBase.cs
  src/GraphQLParser.Benchmarks/Benchmarks/ParserBenchmark.cs
  src/GraphQLParser.Benchmarks/GraphQLParser.Benchmarks.csproj
  src/GraphQLParser.Tests/GraphQLParser.Tests.csproj
  src/GraphQLParser.Tests/ParserTests.Throw.cs
  src/GraphQLParser.Tests/ParserTests.cs
  src/GraphQLParser.Tests/Values/GraphQLIntValueTests.cs
  src/GraphQLParser.Tests/Values/GraphQLNameTests.cs
  src/GraphQLParser.Tests/Visitors/ASTVisitorTests.cs
  src/GraphQLParser.Tests/Visitors/GraphQLAstVisitorTests.cs
  src/GraphQLParser.Tests/Visitors/SDLPrinterFromParsedTextTests.cs
  src/GraphQLParser.Tests/Visitors/SDLPrinterSkipDirectivesTests.cs
  src/GraphQLParser.Tests/Visitors/SDLPrinterVerticalIndentationTests.cs
  src/GraphQLParser/AST/Enums/DirectiveLocation.cs
  src/GraphQLParser/Exceptions/GraphQLParserException.cs
  src/GraphQLParser/Extensions/ASTNodeExtensions.cs
  src/GraphQLParser/TokenKind.cs
  src/GraphQLParser/Visitors/ASTVisitor.cs
  src/GraphQLParser/Visitors/SDLPrinter.cs
Labels: enhancement, code style

#307 Make AST constructors parametrized
  .github/labeler.yml
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser/AST/ASTListNode.cs
  src/GraphQLParser/AST/Definitions/GraphQLArgumentsDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLDirectiveDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLEnumTypeDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLEnumValueDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLEnumValuesDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLExecutableDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLFieldDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLFieldsDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLFragmentDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLInputFieldsDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLInputObjectTypeDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLInputValueDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLInterfaceTypeDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLObjectTypeDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLOperationDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLScalarTypeDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLSchemaDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLTypeDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLUnionTypeDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLVariableDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLVariablesDefinition.cs
  src/GraphQLParser/AST/Extensions/GraphQLEnumTypeExtension.cs
  src/GraphQLParser/AST/Extensions/GraphQLInputObjectTypeExtension.cs
  src/GraphQLParser/AST/Extensions/GraphQLInterfaceTypeExtension.cs
  src/GraphQLParser/AST/Extensions/GraphQLObjectTypeExtension.cs
  src/GraphQLParser/AST/Extensions/GraphQLScalarTypeExtension.cs
  src/GraphQLParser/AST/Extensions/GraphQLTypeExtension.cs
  src/GraphQLParser/AST/Extensions/GraphQLUnionTypeExtension.cs
  src/GraphQLParser/AST/GraphQLAlias.cs
  src/GraphQLParser/AST/GraphQLArgument.cs
  src/GraphQLParser/AST/GraphQLArguments.cs
  src/GraphQLParser/AST/GraphQLDirective.cs
  src/GraphQLParser/AST/GraphQLDirectiveLocations.cs
  src/GraphQLParser/AST/GraphQLDirectives.cs
  src/GraphQLParser/AST/GraphQLDocument.cs
  src/GraphQLParser/AST/GraphQLField.cs
  src/GraphQLParser/AST/GraphQLFragmentName.cs
  src/GraphQLParser/AST/GraphQLFragmentSpread.cs
  src/GraphQLParser/AST/GraphQLImplementsInterfaces.cs
  src/GraphQLParser/AST/GraphQLInlineFragment.cs
  src/GraphQLParser/AST/GraphQLObjectField.cs
  src/GraphQLParser/AST/GraphQLSelectionSet.cs
  src/GraphQLParser/AST/GraphQLTypeCondition.cs
  src/GraphQLParser/AST/GraphQLUnionMemberTypes.cs
  src/GraphQLParser/AST/Types/GraphQLListType.cs
  src/GraphQLParser/AST/Types/GraphQLNamedType.cs
  src/GraphQLParser/AST/Types/GraphQLNonNullType.cs
  src/GraphQLParser/AST/Values/GraphQLEnumValue.cs
  src/GraphQLParser/AST/Values/GraphQLVariable.cs
Labels: BREAKING

#306 Allow to parse more AST nodes
  src/GraphQLParser.Tests/Extensions.cs
  src/GraphQLParser.Tests/ParserTests.CustomAST.cs
  src/GraphQLParser.Tests/ParserTests.Throw.cs
  src/GraphQLParser.Tests/ParserTests.cs
  src/GraphQLParser/Parser.cs
  src/GraphQLParser/ParserContext.Parse.cs
Labels: enhancement, test

#310 Fix printing description on schema
  src/Directory.Build.props
  src/GraphQLParser.Tests/Visitors/SDLPrinterFromParsedTextTests.cs
  src/GraphQLParser/Visitors/SDLPrinter.cs
Labels: bugfix, test

#312 Fix indentation when printing arguments
  src/Directory.Build.props
  src/GraphQLParser.Tests/Visitors/SDLPrinterFromParsedTextTests.cs
  src/GraphQLParser/Visitors/SDLPrinter.cs
Labels: bugfix, test

#313 Fix some issues with indentation
  src/GraphQLParser.Tests/Visitors/SDLPrinterFromParsedTextTests.cs
  src/GraphQLParser/Visitors/SDLPrinter.cs
Labels: bugfix, test

#315 Introduce SDLPrinterOptions.PrintDescriptions
  src/Directory.Build.props
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser.Tests/Visitors/SDLPrinterFromParsedTextTests.cs
  src/GraphQLParser/Visitors/SDLPrinter.cs
Labels: enhancement, test

#317 Add parametrized ctors to AST nodes used by GraphQL.NET v7
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-preview.yml
  .github/workflows/test.yml
  src/GraphQLParser.ApiTests/GraphQLParser.approved.txt
  src/GraphQLParser/AST/Definitions/GraphQLObjectTypeDefinition.cs
  src/GraphQLParser/AST/Definitions/GraphQLTypeDefinition.cs
  src/GraphQLParser/AST/GraphQLField.cs
  src/GraphQLParser/AST/GraphQLObjectField.cs
  src/GraphQLParser/AST/GraphQLSelectionSet.cs
  src/GraphQLParser/AST/Values/GraphQLEnumValue.cs
Labels: CI, test
